<!DOCTYPE html>
<html>
<head>
<title>Raj Dhumal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="3https://media.licdn.com/dms/image/D4D03AQEiOLp3MPNLqA/profile-displayphoto-shrink_400_400/0/1705947649952?e=2147483647&v=beta&t=XFhC7A9i-mbRyXzA5j2lwk8f97mYzo2qMdKXjWE78aI" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Raj Dhumal</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Senior DevOps Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Hyderabad, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>rajd810@outlook.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91-8850701589</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p><b> Cloud Techonologies:</b> Amazon Web Services(AWS), Azure</p>
          <p><b> SDLC:</b> Agile, Scrum, Waterfall</p>
          <p><b> Bug Tracking:</b> JIRA</p>
          <p><b> Databases:</b> MySQL, MangoDB</p>
          <p><b> Build Tools:</b> Maven </p>
          <p><b> Languages:</b> Python, Shell</p>
          <p><b> Configuration Management Tools:</b> Ansible, Terraform, Octopus Deploy</p>
          <p><b> Containerization Tool: </b> Docker, Kubernetes </p>
          <p><b> CI Tools:</b> Jenkins, Bamboo</p>
          <p><b> Version Tools:</b> Git, SVN, BitBucket</p>
          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <ul>
            <li>English</li>
          </ul>
          <div class="w3-light-grey w3-round-xlarge">
            <!-- <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div> -->
          </div>
          <ul>
            <li>German</li>
          </ul>
          <div class="w3-light-grey w3-round-xlarge">
            <!-- <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div> -->
          </div>
          <ul>
            <li>Hindi</li>
          </ul>
          <div class="w3-light-grey w3-round-xlarge">
            <!-- <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div> -->
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About me</h2>
        <div class="w3-container">
          <p>I am a Senior DevOps Engineer with around 5+ years of experience in developing, deploying and managing large-scale cloud infrastructure and on-prem. I have expertise in automation and orchestration tools such as Kubernetes, Docker, Terraform, Ansible & Jenkins to manage microservices-based applications. I have worked on Hadoop Cluster jobs based on Linux/Unix platform in a cloud and on-premise, taking the form part in automating, supporting and to ensure CI/CD in product developing. Providing Infrastructure support & Integrating multiple tools with Continuous Integration Tool like Ansible & Jenkins respectively. Hands-on knowledge on DevOps, Python, Linux, Terraform, Ansible & AWS(EC2, EBS, Route S3, S3 Buckets, VPC, SKS, ECS, IAM & CloudWatch). <br>
            <br> I would like to continue working in DevOps method and enhance my skills to contribute to the technology advancements. <br>
            <br> In my free time, I like to ride motorcycles and play football.</p>
        </div>
      </div>
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Sr. DevOps Engineer  | Verisk Analytics</b> | <i class="fa fa-map-marker" style='font-size:13px'> Hyderabad, India</i></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> Jan 2024 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <ul>
            <li> Designed, Configure, Maintained & Managed AWS Cloud Virtual Datacenter Cloud computing platform which hosted Enterprise applications. Used Compute, Storage, Networking, Stacks, other AWS cloud tools for various operations.</li>
            <li> Deployed and monitored scalable infrastructure on AWS cloud & configuration management using Docker and Elastic Container Services.</li>
            <li> Designing and delivering automated solutions for CI & CD into a cloud environment like Amazon AWS.</li>
            <li> Working on EC2, S3, CloudFormation, CFT, SNS, VPC, Cloud Watch, Auto scaling and ELB Services and responsible for log analysis, and performance metrics.</li>
            <li> Managing Route53 hosted zones, configuring aliases for Elastic Load Balancer applications and responsible for maintaining ACLs, Security Groups and Firewall configurations.</li>
            <li> Working on Lambda functions ton aggregate the data from incoming events, then stored result data in Amazon Dynamo DB and used CloudWatch for simple monitoring of metrics</li>
          </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Sr. DevOps Engineer | Axis Bank | <i class="fa fa-map-marker" style='font-size:13px'> Mumbai, India</i></b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2022 - Jan 2024 </h6>
          <ul>
            <li> Worked on application configuration, code compilation, packaging, building, automating, managing and releasing code from one environment to other and deploying to servers.</li>
            <li> Developed automation code for building 70+ pipelines, Kubernetes clusters, and cloud infrastructure, maximizing 60% efficiency.</li>
            <li> Created and deployed Docker containers to break up 10+ monolithic apps into Microservices, enhancing developer workflow and automated the process.</li>
            <li> Managed provisioning of AWS infrastructures using Terraform, Also worked with AWS services such as EC2, VPC, Route 53, SKS, ECS, Prometheus, Grafana & S3 Buckets.</li>
            <li> Experienced in Jenkins by installing, configuring and maintaining for purpose of continuous integration (CI) and for end to end automation for all build and deployments and creating Jenkins CI pipelines.</li>
          </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Sr. DevOps Engineer | Capgemini India Ltd | <i class="fa fa-map-marker" style='font-size:13px'> Mumbai, India</i></b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> Apr 2021 - Apr 2022</h6>
          <ul>
            <li> Designed and configured pipeline stages for code build, code test, code analysis, and code deployment, ensuring high-quality software delivery.</li>
            <li> Implemented Kubernetes clusters on AWS, resulting in improved scalability and reduced infrastructure costs.</li>
            <li> Created Docker images and managed their build and upload processes using Jenkins, facilitating containerized deployments.</li>
            <li> Proficient in scheduling jobs using Jenkins and well-versed in Ansible, including writing playbooks for infrastructure automation.</li>
            <li> Experienced in branching, merging and maintaining the versions using SCM tools like GitHub and BitBucket on widows and Linux platform.</li>
            <li> Experienced in Project management and issue tracking tool like JIRA.</li>
          </ul><hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Senior Process Associate (DevOps Engineer) | Tata Consultancy Services | <i class="fa fa-map-marker" style='font-size:13px'> Mumbai, India</i></b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2016 - Mar 2021</h6>
          <ul>
            <li> Designed the application layer of the product with EC2, RDS, and Elastic cache, and configuring AWS cloud watch for application monitoring.</li>
            <li> Developed Shell scripts & Python scripts to day to day activities and tasks for automating and Jenkins tool to automate the build process.</li>
            <li> Worked with Amazon AWS Cloud Creating EC2 instances, security groups, EC2 container services and Amazon elastic block storage.</li>
            <li> Orchestrated containerized deployments using Docker, creating and managing Docker images for application packaging and deployment.</li>
            <li> Experience with DevOps tools Jenkins, maven, and nexus (or equivalent repository) with experience in Jenkins orchestration, configuration management.</li>
          </ul><hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Analyst | eClerx Service Ltd | <i class="fa fa-map-marker" style='font-size:13px'> Mumbai, India</i></b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2013 - Sep 2016 </h6>
          <ul>
            <li>Developed comprehensive frontend and backend modules using Python on the Django Web Framework, ensuring the smooth functioning of the web application.</li>
            <li>Used JavaScript when developing page navigation, form validation, time and date stamps. Managed website links to videos and interactive media through constants. Designed and updated pages on share location website and department intranet and processed data in content manage system.</li>
            <li>Used JavaScript when developing page navigation, form validation, time and date stamps. Managed website links to videos and interactive media through constants. Designed and updated pages on share location website and department intranet and processed data in content manage system. </li>
            <li>Content management system is a software application or platform that allows users to create, manage, and publish digital content on the web.</li>
            <li>Familiarity with web development frameworks like Django or Flask and good understanding of software development lifecycle (SDLC).</li>
          </ul><hr>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Bachelor of Science (Information Technology)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2009-2012</h6>
          <p>University of Mumbai</p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"> </i>
  <p>© 2023 | Raj Dhumal</a></p>
</footer>

</body>
</html>
